[Unit]
Description = Recursive caching DNS server intended to be ran locally on LAN.

[Service]
ExecStart = unbound -c /usr/local/etc/unbound/unbound.conf
ExecStartPost = unbound-anchor
ExecReload = /bin/kill -HUP $MAINPID
Restart = on-watchdog

[Install]
WantedBy = multi-user.target
