[Unit]
Description = Recursive caching DNS server intended to be ran locally on LAN.

[Service]
ExecStart = /usr/local/sbin/unbound -c /usr/local/etc/unbound/unbound.conf
ExecStartPost = /usr/local/sbin/unbound-anchor -a /usr/local/etc/unbound/root.key
ExecReload = /usr/bin/kill -HUP $MAINPID
Restart = on-watchdog

[Install]
WantedBy=multi-user.target
